<h1>Stupid coaching</h1>

<div class="comment">
  <p><%= @question %></p>
  <p class="who"> - You</p>
</div>

<div class="comment highlighted">
  <p class="message"><%= @answer %></p>
  <p class="who"> - Coach (who is stupid)</p>
</div>

<%= link_to "Ask another question", ask_path %>

<p>Find me in app/views/questions/answer.html.erb</p>
